<ul class="social-icons">
	{% if linkedin_url != '' %}
		<li>
			<a href="{{ linkedin_url }}" target="_blank">
				<i class="icon-linkedin"></i>
			</a>
		</li>
	{% endif %}

	{% if github_url != '' %}
		<li>
			<a href="{{ github_url }}" target="_blank">
				<i class="icon-github"></i>
			</a>
		</li>
	{% endif %}

</ul>
